@model Student
@{
    ViewData["Title"] = "Студент";
}

<div id="student">
    <div>
        @Html.ActionLink("На главную", "Index", "Students")
        <a class="btn btn-primary" href="@Url.Action("EditStudent", "Students", new {id = Model.Id})">Редактировать</a>
    </div>
    <table title="Cтудент">
        <tr>
            <td>@Html.DisplayNameFor(x => x.Id): </td>
            <td>@Html.DisplayFor(x => x.Id)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.LastName): </td>
            <td>@Html.DisplayFor(x => x.LastName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.FirstName): </td>
            <td>@Html.DisplayFor(x => x.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(x => x.Birthday): </td>
            <td>@Html.DisplayFor(x => x.Birthday)</td>
        </tr>
    </table>
</div>
